<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">       
<html xmlns="http://www.w3.org/1999/xhtml ">       
<head>       
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
	<title>LS6合同</title>       
		<style type="text/css">         
		.align-center{ text-align:center;}
		.align-right{ text-align:right; padding-right:60px;}
		h2{font-size:20px;}
		body {       
					font-family: SimSun;  
		}       
		</style>
</head>       
       
<body>  
	<h1 class="align-center"><b>授权书（LS6）</b></h1>
	<h2 class="align-right">
    	    编号：<u>{contractName}</u>
	</h2>
	<p>中国邮政储蓄银行石家庄市分行及所有第三方支付机构： </p>
	<p class="indent">本人在银行办理了一张银联借记卡，户名：{accountName}，卡号：{cardNumber}。用于{accountName}与港联融资租赁有限公司、河北创联融资租赁有限公司签订的《车辆融资租赁合同》、与垫富宝投资有限公司签订的《垫付宝（垫付卡）领用合约》、《垫付卡领用合约》、指定借款人与包括但不限于创金天地投资有限公司等轻易贷出借人或债权人基于《个人借款及担保协议》等一系列合同还款事宜。我同意由港联融资租赁有限公司、河北创联融资租赁有限公司基于《车辆融资租赁合同》，垫富宝投资有限公司基于《垫付宝（垫付卡）领用合约》、《垫付卡领用合约》，包括但不限于创金天地投资有限公司等轻易贷出借人或债权人基于《个人借款及担保协议》向邮政储蓄银行石家庄市分行或第三方支付机构发送扣款指令。请贵行或第三方支付机构从本人上述借记卡中扣划相应款项至港联融资租赁有限公司、河北创联融资租赁有限公司、垫富宝投资有限公司、创金天地投资有限公司、河北汇通非融资性担保有限公司、世捷开元汽车贸易集团有限公司、河北瑞良商贸有限公司、河北旭华贸易有限公司指定账户。邮政储蓄银行石家庄市分行或第三方支付机构按指令数据扣款所产生的法律后果由本人承担，邮政储蓄银行石家庄市分行或第三方支付机构不承担任何责任；本人与港联融资租赁有限公司、河北创联融资租赁有限公司、垫富宝投资有限公司、创金天地投资有限公司、河北汇通非融资性担保有限公司、世捷开元汽车贸易集团有限公司、河北瑞良商贸有限公司、河北旭华贸易有限公司之间若发生纠纷，与邮政储蓄银行石家庄市分行或第三方支付机构无关。此授权书自即日起至《车辆融资租赁合同》、《垫付宝（垫付卡）领用合约》、《垫付卡领用合约》、《个人借款及担保协议》终止日的期间内有效。</p>
	<p>特此授权。</p>
	<table  cellpadding="0" cellspacing="0" style="float: right; width:100%;">
	<tr>
		<td style="width:68%">身份证正面复印件粘贴处<br /> <br /> <br /> <br /> <br /> </td>
        <td>授权人（签字并按手印）：<span>        </span><br /> </td>
	</tr>    
	<tr>
		<td></td>
        <td>身份证号：{idCard}<br /></td>
	</tr> 
	<tr>
		<td></td>
        <td>日期：_________年 &nbsp; _________月 &nbsp; _________日<br /> </td>
	</tr>   
	<tr>
		<td>身份证背面复印件粘贴处<br /><br /><br /><br /><br /><br /></td>
        <td>邮储银行卡正面复印件粘贴处<br /><br /><br /><br /><br /><br /><br /></td>
	</tr> 
</table>
  
</body>       
</html> 